.container {
  box-sizing: border-box;
  padding: 0 2rem;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.main {
  margin: auto;
  max-width: 1340px;
  flex: 1;
}

